{% extends 'base.html' %}

{% block content%}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{single_blog.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{single_blog.created_at}} by {{single_blog.author}}</div>
                    <!-- Post category-->
                    <a class="badge bg-warning text-decoration-none text-light" href="#!">{{single_blog.category}}</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{single_blog.featured_image.url}}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4" style="font-weight: bold;">{{single_blog.short_description}}</p>
                    <p class="fs-5 mb-4">{{single_blog.blog_body}}</p>

                    <!-- comments -->
                    <h4>Comments ({{comment_count}})</h4>
                    {% if comments %}
                        {% for comment in comments %}
                        <div class="card mt-1">
                            <div class="card-body">
                                <span>
                                    <small style="font-weight: bold;">{{comment.user}}</small>
                                    <small>| {{comment.created_at | timesince}} ago</small>
                                </span>
                                <p class="card-text mt-0">{{comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    no comments
                    {% endif %}
                    <br>

                    <div class="form-group">
                        {% if user.is_authenticated %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment">Add a Comment:</label>
                                <textarea class="form-control" placeholder="Write your comment." name="comment" rows="3" required></textarea>
                                <br>
                                <button type="submit" class="btn btn-warning">Submit</button>
                            </div>
                        </form>
                        {% else %}
                        <p>Please <span><a href="{% url 'login' %}">login</a></span> to add a comment.</p>
                        {% endif %}
                    </div>
                </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Categories widget-->
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Categories</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for category in categories %}
                                <li><a href="{% url 'posts_by_category' category.id %}">{{category.category_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            {% if social_links %}
            <div class="p-3">
                <h4 class="font-italic">Follow Us</h4>
                <ol class="list-unstyled">
                {% for link in social_links %}
                <li><a href="{{link.profile_url}}" target="_blank">{{link.platform_name}}</a></li>
                {% endfor %}
                </ol>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}